In [1]:
import spacy

In [2]:
nlp = spacy.load("en_core_web_sm")

In [3]:
text = '''Ravi and Raju are the best friends from school days.They wanted to go for a world tour and
visit famous cities like Paris, London, Dubai, Rome etc and also they called their another friend Mohan to take part of this world tour.
They started their journey from Hyderabad and spent next 3 months travelling all the wonderful cities in the world and cherish a happy moments!
'''

doc = nlp(text)
for token in doc:
    print(token)

Ravi
and
Raju
are
the
best
friends
from
school
days
.
They
wanted
to
go
for
a
world
tour
and


visit
famous
cities
like
Paris
,
London
,
Dubai
,
Rome
etc
and
also
they
called
their
another
friend
Mohan
to
take
part
of
this
world
tour
.


They
started
their
journey
from
Hyderabad
and
spent
next
3
months
travelling
all
the
wonderful
cities
in
the
world
and
cherish
a
happy
moments
!

In [11]:
all_propn = []

for token in doc:
  if token.pos_ == 'PROPN':
    all_propn.append(token)

print('Proper_noun:', all_propn)
print('Number:', len(all_propn))

Proper_noun: [Raju, Paris, London, Dubai, Rome, Mohan, Hyderabad]
Number: 7

In [14]:
import spacy

# Load a pre-trained English model
nlp = spacy.load("en_core_web_sm")

# Input text
text = '''The Top 5 companies in USA are Tesla, Walmart, Amazon, Microsoft, Google and the top 5 companies in
India are Infosys, Reliance, HDFC Bank, Hindustan Unilever and Bharti Airtel'''

# Process the text with the SpaCy model
doc = nlp(text)

# List to store company names
company_list = []

# Loop through named entities (organizations) in the text
for token in doc.ents:
    if token.label_ == 'ORG':  # Use 'label_' instead of 'lable'
        company_list.append(token.text)  # Use append instead of append.company_list

# Output the company names and their count
print('Organisation names:', company_list)
print('Count:', len(company_list))

Organisation names: ['Tesla', 'Walmart', 'Amazon', 'Microsoft', 'Google', 'Infosys', 'Reliance', 'HDFC Bank', 'Hindustan Unilever', 'Bharti Airtel']
Count: 10